.ListProperty {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
.ListProperty h5 {
    color: var(--Gray);
    font-weight: 700;
    margin: 5px auto;
}
.ListProperty input {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 95%;
    padding: 7px 10px;
    border-radius: 10px;
    border: 1px solid var(--Border);
    margin: 5px 5px 10px 5px;
}

.ListProperty .propertiesList {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow:auto;
}

.ListProperty .propertiesList::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  
    .ListProperty .propertiesList::-webkit-scrollbar-track {
    background: var(--Border);        /* color of the tracking area */
    border-radius: 20px;
  }
  
    .ListProperty .propertiesList::-webkit-scrollbar-thumb {
    background-color: var(--Primary);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid var(--Border);  /* creates padding around scroll thumb */
  }



.ListProperty .propertiesList .unicProperty {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--White);
    border-radius: 20px;
    margin:2px;
    border: 1px solid var(--Border);
    padding: 2px 5px;
}

.ListProperty .propertiesList .unicProperty .image {
    width:40px; 
    height:40px;
    border-radius: 50px;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--Border);
    background-color: var(--White);
    margin: 3px;
}
.ListProperty .propertiesList .unicProperty .image img {
    width: 35px; 
    height: 35px;
    border-radius: 50px;
    object-fit: contain;
}


.ListProperty .propertiesList .unicProperty .featured {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--Primary);
    border-radius: 20px;
    position: absolute;
    margin-top: -15px;
    margin-left: 10px;
    padding: 10px 40px;
}

.ListProperty .propertiesList .unicProperty .featured p {
    color: var(--White);
    font-weight: 700;
}

.ListProperty .propertiesList .unicProperty .status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--Secondary);
    border-radius: 20px;
    position: absolute;
    margin-top: 160px;
    margin-left: 5px;
    padding: 10px 20px;
}

.ListProperty .propertiesList .unicProperty .status p {
    color: var(--White);
    font-weight: 700;
}





.ListProperty .propertiesList .unicProperty .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.ListProperty .propertiesList .unicProperty .text2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
}

.ListProperty .propertiesList .unicProperty .text2 .heartFavorite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
}

.ListProperty .propertiesList .unicProperty .text2 .heartFavorite svg {
    color: var(--White);
    font-size: 30px;
    cursor: pointer;
}
.ListProperty .propertiesList .unicProperty .text2 .heartFavorite svg:hover {
    color: var(--Primary);
}
.ListProperty .propertiesList .unicProperty .text2 .heartFavorite2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
}

.ListProperty .propertiesList .unicProperty .text2 .heartFavorite2 svg {
    color: var(--Primary);
    font-size: 30px;
    cursor: pointer;
    margin-right: 5px;
}
.ListProperty .propertiesList .unicProperty .text2 .heartFavorite svg:hover {
    color: var(--Primary);
}

.ListProperty .propertiesList .unicProperty .text a {
    text-decoration: none;
}
.ListProperty .propertiesList .unicProperty .text h5 {
    color: var(--Primary);
    font-weight: 700;
    margin: 5px 10px 0px 10px;
}
.ListProperty .propertiesList .unicProperty .text h6 {
    color: var(--Gray);
    margin: 0px 10px;
    font-weight: 700;
}
.ListProperty .propertiesList .unicProperty .text h6 svg{
    margin-right: 3px;
}


.ListProperty .propertiesList .unicProperty .text h5 svg {
    margin-right: 5px;
}
.ListProperty .propertiesList .unicProperty .text .LinkCompany {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    border-radius: 20px;
    background-color: var(--White);
    border: none;
    margin: 10px 10px 10px 10px;
    color: var(--Primary);
    font-size: 12px;
}


.ListProperty .propertiesList .unicProperty .text .icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 7px 0;
    flex-wrap: wrap;
}

.ListProperty .propertiesList .unicProperty .text .icons .iconUnic {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin: 0 10px;
}

.ListProperty .propertiesList .unicProperty .text .icons .iconUnic p {
    color: var(--Paragraph);
    font-weight: 700;
}
.ListProperty .propertiesList .unicProperty .text .icons .iconUnic .simbol {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-top: 5px;
}
.ListProperty .propertiesList .unicProperty .text .icons .iconUnic .simbol p {
    font-size: 13px;
    color: var(--Paragraph);
    font-weight: 700;
}

.ListProperty .propertiesList .unicProperty .text .icons .iconUnic .simbol svg {
    margin-right: 3px;
    color: var(--Gray);
}
.ListProperty .propertiesList .unicProperty .text .pricing {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: flex-start;
}

.ListProperty .propertiesList .unicProperty .text .pricing h5 {
    color: var(--Paragraph);
    font-weight: 700;
    margin: 0 10px;
}
.ListProperty .propertiesList .unicProperty .text .pricing h2 {
    color: var(--Primary);
    font-weight: 700;
    margin: 0 10px;
}