.MyRegisterSales {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.MyRegisterSales .aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 170px;
  padding-top: 100px;
}

.MyRegisterSales .aside .textHome {
width: 90%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
margin-bottom: 20px;
}


.MyRegisterSales .aside .textHome h3 {
  font-weight: bold;
  text-align: center;
  color: var(--Paragraph);
}

.MyRegisterSales .aside .infoData {
width: 90%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
flex-wrap: wrap;
padding: 10px;
background-color: var(--White);
box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
border-radius: 6px;
}

.MyRegisterSales .aside .infoData .textInfo{
padding: 10px 20px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
border: 1px solid var(--Border);
border-radius: 6px;
margin: 5px;

}

.MyRegisterSales .aside .infoData .textInfo h5 {
font-weight: 600;
text-align: center;
color: var(--Gray);
}
.MyRegisterSales .aside .infoData .textInfo h5 span {
font-weight: 900;
color: var(--Primary);
}

.MyRegisterSales .aside .link {
border: none;
border-radius: 6px;
background-color: none;
color: var(--Primary);
font-size: 16px;
font-weight: 600;
text-decoration: none;
margin-bottom: 10px;
}


.MyRegisterSales .informations {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:5px;
  background-color: var(--White);
  border: 1px solid var(--Border);
  border-radius: 20px;
  margin-bottom: 100px;
}

.MyRegisterSales .informations .contracts{
  width: 98%;
  border-radius: 4px;
  background-color: var(--White);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  border-bottom: 1px solid var(--Border);
  margin: 5px 0;
}


.MyRegisterSales .informations .contracts .dataContracts{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px;
}
.MyRegisterSales .informations .contracts .dataContracts .dataContractsUnic{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 5px;
}
.MyRegisterSales .informations .contracts .dataContracts .dataContractsUnic h6{
  font-weight: 700;
  color: var(--Gray);
}
.MyRegisterSales .informations .contracts .dataContracts .dataContractsUnic h5{
  font-weight: 700;
  color: var(--Gray2);
}

.MyRegisterSales .informations .contracts .buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 3px;
  border-left: 1px solid var(--Border);
}

.MyRegisterSales .informations .contracts .buttons .btnControl {
  width: 30px;
  height: 30px;
  padding: 8px;
  border: none;
  border-radius: 20px;
  background-color: var(--BorderInput);
  color: var(--Gray2);
  margin: 5px;
  font-weight: 700;
                display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
}
.MyRegisterSales .informations .contracts .buttons .btnControl svg {
  margin: 0px;
}

.MyRegisterSales .informations .contracts .buttons .btnControl:hover {
  background-color: var(--Primary);
  color: var(--White);
}

.MyRegisterSales .aside .search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0px 10px 20px 10px;
  width: 90%;
  padding: 10px;
  background-color: var(--White);
  border: 1px solid var(--Border);
  border-radius: 30px;
  }
  .MyRegisterSales .aside .search .selection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  }
  
  
  .MyRegisterSales .aside .search input {
  width: 50%;
  height: 40px;
  padding: 10px 20px;
  border: 1px solid var(--Border);
  border-radius: 20px;
  margin: 2px;
  }
  .MyRegisterSales .aside .search .selection select {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  border: 1px solid var(--Border);
  border-radius: 20px;
  margin: 2px;
  }
  

@media(max-width: 1000px) {
  .MyRegisterSales .informations .contracts .dataContracts{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px;
    flex-wrap: wrap;
  }
  .MyRegisterSales .informations .contracts .dataContracts .dataContractsUnic{
    width: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding:5px;
  }
@media(max-width: 850px) {
.MyRegisterSales .aside .search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}


.MyRegisterSales .aside .search input {
  width: 100%;
}

.MyRegisterSales .informations .contracts .buttons{
  flex-direction: column;
}


@media (max-width: 700px) {
  .MyRegisterSales .informations {
      padding: 10px;
  }
  .MyRegisterSales .aside {
      padding-left: 0px;
  }



  @media (max-width: 570px) {

        .MyRegisterSales .informations .contracts{
          width: 100%;

          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: column;
      }

      .MyRegisterSales .informations .contracts .dataContracts .dataContractsUnic{
        width: 120px;
      }

      .MyRegisterSales .informations .contracts .buttons{
        justify-content: space-evenly;
        flex-direction: row;
        width: 100%;
        border-left:none;
        border-top: 1px solid var(--Border);
        padding: 5px;
    }

      .MyRegisterSales .informations .contracts .buttons .linkEdit {
      width: 100%;
    }
      .MyRegisterSales .informations .contracts .buttons .delete {
      width: 100%;
    }
      .MyRegisterSales .informations .contracts .buttons .notView {
      width: 100%;
    }


    .MyRegisterSales .aside .search {
      width: 90%;
      padding: 10px;
    }

    .MyRegisterSales .aside .search .selection {
      flex-direction: column;
      width: 100%;
    }

    .MyRegisterSales .aside .infoData .textInfo {
      padding: 5px 10px;
      margin: 3px;
    }
    .MyRegisterSales .aside .infoData .textInfo h5 {
      font-size: 12px;
    }
    
  }
}
}
}
